.Home {
  display: flex;
}

.Form {
  width: 60vw;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

.LoginFormMaterial {
  display: inline-block;
  padding: 10px 25px;
}

.FormDiv {
  width: 500px;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 160px;
  left: 100px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Picture {
  width: 40vw;
  height: 100vh;
  background-color: white;
}

.ImagePicture {
  width: 40vw;
  height: 100vh;
}

.LoginDiv {
  font-size: 40px;
  padding: 10px 30px;
}

.LoginFormDiv {
  width: max;
  height: 150px;
}

.LoginFormButtonDiv {
  padding: 10px 30px;
  display: flex;
  width: max;
}

.signupSpace {
  width: 280px;
}

.signuptext {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
}

.signup {
  text-decoration: none;
  color: blue;
}
